---
SPDX-FileCopyrightText: 2026 Cam Coulter <git@camcoulter.com>
SPDX-License-Identifier: CC-BY-SA-4.0
layout: layouts/page.njk
title: "Design Guide"
permalink: /about-this-site/design-guide/
description: "This is the design guide for my site."
---

<p>This is the design guide for my site. This page shows native HTML elements as well as custom components that have been styled for this site. This page exists for the purpose of identifying which elements and components have styles specifically created for them and showcasing those styles. As such, this is not a typical page, and you will encounter a fair bit of lorem ipsum content below.</p>
<p>Below, I've left notes about some of the design choices and features of different elements, but those notes are not meant to be considered complete or exhaustive. For further documentation on use or modifying these styles, see the CSS file or the project's ReadMe.</p>

<h2>Heading Level 2</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae et est laborum doloribus voluptatem veniam harum odio, dolorum in, veritatis sint, rem expedita iusto nihil?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum debitis id dolor autem saepe pariatur harum expedita, hic cumque tempore. Culpa quidem, eius numquam facilis.</p>

<h3>Heading Level 3</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit recusandae quibusdam reiciendis quas, maxime atque cum veniam debitis consequuntur ea dolorum distinctio est quasi laborum!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quaerat quis asperiores, vitae cumque aspernatur adipisci neque, dolore eos accusantium quos, suscipit minima saepe aliquam.</p>

<h4>Heading Level 4</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat amet cumque fuga, quas minus! Corrupti eligendi modi quisquam, tempora non optio maiores eum beatae recusandae.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo, accusamus. Ea quis soluta nesciunt amet unde quia ex distinctio nam illo. Dolorem, dolor temporibus!</p>

<h5>Heading Level 5</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis veniam, quisquam eaque vero saepe et laudantium aliquam doloribus neque repellendus. Unde, enim autem doloribus voluptatibus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio earum praesentium nulla repellendus consequuntur magnam voluptatem? Natus nostrum minima, nesciunt cum mollitia et dolorem. Doloremque.</p>

<h6>Heading Level 6</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, voluptates quibusdam culpa totam ipsa placeat cupiditate cum, vel voluptatum ex id necessitatibus commodi! Reprehenderit, veniam.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ratione, reiciendis voluptate rerum laboriosam molestiae, odio quibusdam minima rem voluptates expedita, temporibus provident modi ipsa!</p>

<h2>Dark Mode & Light Mode</h2>
<p>This site supports both dark and light modes. Change your OS or user agent preferences to change between modes.</p>

<h2 id="inline-elements">Inline Elements</h2>

<p>The <a href="#inline-elements">a element</a>. This element has unique styles for hover and focus states.</p>

<p>Here are some elements that appear bolded: <b>the b element</b>, <strong>the strong element</strong>.</p>

<p>Here are some elements that appear italicized: <i>the i element</i>, <em>the em element</em>, <cite>the cite element</cite>.</p>

<p>The <code>::selection</code> pseudo-element is styled as well. Highlight this text to see it change color.</p>

<p>Here is the <code>&lt;mark&gt;</code> element: <mark>this text is marked/highlighed</mark>.</p>

<p>Here is the <code>&lt;code&gt;</code> element: this is the <code>&lt;code&gt;</code> element.</p>

<p>Here is the <code>&lt;kbd&gt;</code> element: <kbd>Alt</kbd>+<kbd>D</kbd> jumps your focus to the browser's URL/search bar.</p>

<h2>Lists</h2>

<h3>Ordered List</h3>
<ol>
  <li>List Item 1</li>
  <li>List Item 2</li>
  <li>List Item 3
    <ol>
      <li>List Item 3.1</li>
      <li>List Item 3.2
        <ol>
          <li>List Item 3.2.1</li>
          <li>List Item 3.2.2</li>
        </ol>
      </li>
      <li>List Item 3.3</li>
    </ol>
  </li>
  <li>List Item 4</li>
</ol>

<h3>Unordered List</h3>
<ul>
  <li>List Item 1</li>
  <li>List Item 2</li>
  <li>List Item 3
    <ul>
      <li>List Item 3.1</li>
      <li>List Item 3.2
        <ul>
          <li>List Item 3.2.1</li>
          <li>List Item 3.2.2</li>
        </ul>
      </li>
      <li>List Item 3.3</li>
    </ul>
  </li>
  <li>List Item 4</li>
</ul>

<h3>Description List</h3>
<dl>
  <dt>Definition Term 1</dt>
  <dd>Definition Description 1</dd>
  <dt>Definition Term 2</dt>
  <dd>Definition Description 2</dd>
</dl>

<h2>Tables</h2>

<table>
	<caption>Budget</caption>
    <thead>
        <tr>
            <th>Item</th>
			<th scope="col">Cost (in galactic credits)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Starship</th>
            <td>9999999</td>
        </tr>
		<tr>
			<th scope="row">Ion core</th>
			<td>70099</td>
		</tr>
		<tr>
			<th scope="row">Rations</th>
			<td>2000</td>
		</tr>
    </tbody>
	<tfoot>
		<tr>
            <th scope="row">Total</th>
            <td>10072098</td>
        </tr>
	</tfoot>
</table>

<h2>Block Level Elements</h2>

<div class="raised">
	<h3>Raised Card</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis porro similique, cum quidem tempore corporis, pariatur voluptate delectus quisquam soluta sequi quae, cumque aliquid ratione.</p>
</div>

<h3>Block Level Code</h3>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>&lt;a href="#same-page-link-target"&gt;Jump to kittens!&lt;/a&gt;  
&lt;h2 id="same-page-link-target"&gt;Kittens!&lt;/a&gt;</code></pre></div></div>

<h3>Blockquote</h3>

<blockquote>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam error blanditiis et culpa ut vero ea quibusdam, consequatur natus quidem nihil officiis a porro accusamus accusantium facilis amet dolore beatae?</p>
</blockquote>

<h3>Details/Summary</h3>

<details>
  <summary>Here is a <code>&lt;summary&gt;</code> element.</summary>
  <p>Here is a paragraph underneath a <code>&lt;summary&gt;</code> element within a <code>&lt;details&gt;</code> element.</p>
</details>

<h2>Links & Buttons</h2>

<h3>Inline</h3>

<p>Here is a standard inline link: <a href="https://annleckie.com/">Ann Leckie</a> is one of my favorite authors. Links have unique states for hover and focus styles.</p>

<h3>“Undercover” Links</h3>

<p>Below is a set of “undercover” links. I use these in the header and the footer. They look more or less like simple, free-floating links, but they have a nice rounded outline which appears on focus and which gives the impression of being a button.</p>

<p>In a list of links, give the <code>&lt;ul&gt;</code> or <code>&lt;ol&gt;</code> element <code>class="link-undercover--list"</code>, and give each link <code>class="link-undercover"</code>, like so:</p>

<ul class="link-undercover--list">
	<li><a href="/About-This-Site/" class="link-undercover">About This Site</a></li>
	<li><a href="/Site-Map/" class="link-undercover">Site Map</a></li>
</ul>

<p>If you have one standalone undercover link, give it both of these classes: <code>class="link-undercover link-undercover--standalone"</code>, like so:</p>

<a href="/Publications/" class="link-undercover link-undercover--standalone">Publications</a>

<h3>“Turncoat” Links</h3>

<p>Next up we have “turncoat” links. I use these for tag links after blog posts. They look like classic outline buttons, and in a focus or hover state, their colors flip. These links are often prefaced by a decorative SVG icon.</p>

<p>In a list of links, give the <code>&lt;ul&gt;</code> or <code>&lt;ol&gt;</code> element <code>class="link-turncoat--list"</code>, and give each link <code>class="link-turncoat"</code>, like so:</p>

<ul class="link-turncoat--list">
	<li><a href="/Blog/Tags#publishing" class="link-turncoat">{% include "partials/SVGs/tag-fill.svg" %} publishing</a></li>
	<li><a href="/Blog/Tags#disability" class="link-turncoat">{% include "partials/SVGs/tag-fill.svg" %} disability</a></li>
	<li><a href="/Blog/Tags#cartoons" class="link-turncoat">{% include "partials/SVGs/tag-fill.svg" %} cartoons</a></li>
</ul>

<p>If you have one standalone turncoat link, give it both of these classes: <code>class="link-turncoat link-turncoat--standalone"</code>, like so:</p>

<a href="/Blog/Archive/" class="link-turncoat link-turncoat--standalone">{% include "partials/SVGs/archive.svg" %} Blog Archive</a>

<p>The standalone turncoat links have some extra padding.</p>

<h3>Footnotes</h3>

<p>Here is a paragraph that includes an inline footnote reference.<sup><a href="#ftn-1" id="ftn-ref-1"><span class="visually-hidden">Footnote </span>1</a></sup> As you can see, there is a <code>&lt;sup&gt;</code> element that includes an <code>&lt;a&gt;</code> element. The <code>&lt;a&gt;</code> includes visually hidden text that says, "Footnote". The <code>&lt;a&gt;</code> element links to a list item lower in the page.</p>

<h4 tabindex="-1">Footnotes</h4>

<ol>
    <li id="ftn-1" tabindex="-1">
      <p>Footnotes are an ordered list under a heading. After a footnote, there is a link to return users to the footnote reference in the text. That link visually appears as the &#8617; icon, but has a unique accessible name provided via the aria-label attribute.
        <a href="#ftn-ref-1" aria-label="Return to text, Footnote 1">&#8617;</a>
      </p>
    </li>
</ol>