---
SPDX-FileCopyrightText: 2026 Cam Coulter <git@camcoulter.com>
SPDX-License-Identifier: CC-BY-NC-ND-4.0
layout: layouts/page.njk
title: "Projects"
permalink: /projects/
description: "Here are some things I've made."
---

<div class="toc">
	<h2>Contents</h2>
	<ol>
		<li><a href="#AnA">Apostrophe and Ampersand</a></li>
		<li><a href="#Dozen">Dozen</a></li>
		<li><a href="#notesToWebsite">Notes to Website</a></li>
		<li><a href="#PersonalWebsiteBlog">Personal Website/Blog</a></li>
		<li><a href="#AIR">Accessibility Internet Rally (AIR)</a></li>
		<li><a href="#GraphPaper">Graph Paper</a></li>
		<li><a href="#ThePlaysofRoswitha">The Plays of Roswitha</a></li>
	</ol>
</div>

<h2 id="AnA" tabindex="-1">Apostrophe and Ampersand</h2>

<ul class="post_metadata">
	<li>{% include "partials/SVGs/folder.svg" %} <span class="visually-hidden">Categorized under:</span> <a href="/Blog/Categories/#web+design">Web Design</a>, <a href="/Blog/Categories/#ebook+design">eBook Design</a></li>
	<li>{% include "partials/SVGs/calendar3.svg" %} <span class="visually-hidden">I worked on this in:</span> 2025</li>
</ul>

<p>	<cite>Apostrophe and Ampersand</cite> is grassroots, free-range literary magazine (a zine!) that’s an excuse to make art and celebrate my friends’ creative talents. Think of it as a playful crossover between a seriously produced literary magazine and a punk zine. I co-founded the zine, created the website, and made the ebook for the first issue.</p>

<a href="https://apostropheampersand.art/" class="link-turncoat link-turncoat--standalone">Check out Apostrophe and Ampersand</a>



<h2 id="Dozen" tabindex="-1">Dozen</h2>

<ul class="post_metadata">
	<li>{% include "partials/SVGs/folder.svg" %} <span class="visually-hidden">Categorized under:</span> <a href="/Blog/Categories/#web+design">Web Design</a></li>
	<li>{% include "partials/SVGs/calendar3.svg" %} <span class="visually-hidden">I worked on this:</span> May – August 2025</li>
</ul>

<p>Dozen is a simple starter website for the Eleventy (11ty) static site generator. It is my great hope that this site gets used to spin off at least a dozen other websites. It is meant to be a lightweight and accessible foundation upon which to jumpstart your site. Dozen allows you to designate individual authors for different posts, and each author has their own page that lists their bio and posts they've written. Dozen supports both tags and categories, and it's set up with both paginated and single-page versions of these.</p>

<a href="https://dozen.camcoulter.com" class="link-turncoat link-turncoat--standalone">View Dozen</a>



<h2 id="notesToWebsite" tabindex="-1">Notes to Website</h2>

<ul class="post_metadata">
	<li>{% include "partials/SVGs/folder.svg" %} <span class="visually-hidden">Categorized under:</span> <a href="/Blog/Categories/#web+design">Web Design</a></li>
	<li>{% include "partials/SVGs/calendar3.svg" %} <span class="visually-hidden">I worked on this:</span> December 2023</li>
</ul>

<p>Most of my digital notes live together in one system, a folder with Markdown files that I can compile together into a simple website. I wrote Bash scripts that run Pandoc to convert the Markdown files into interlinked HTML pages, and I set up a GitHub repository that you can check out to view this system in practice or start using it yourself.</p>

<p>For more details, read this post: “<a href="/2023/12/30/how-i-take-notes-digitally/">How I Take Notes (Digitally)</a>.”</p>

<a href="/notes-to-website/" class="link-turncoat link-turncoat--standalone">View notes-to-website example site</a>

<a href="https://github.com/cncoulter/notes-to-website" class="link-turncoat link-turncoat--standalone">View notes-to-website GitHub repository</a>



<h2 id="PersonalWebsiteBlog" tabindex="-1">Personal Website/Blog</h2>

<ul class="post_metadata">
	<li>{% include "partials/SVGs/folder.svg" %} <span class="visually-hidden">Categorized under:</span> <a href="/Blog/Categories/#web+design">Web Design</a>, <a href="/Blog/Categories/#accessibility">Accessibility</a></li>
	<li>{% include "partials/SVGs/calendar3.svg" %} <span class="visually-hidden">I worked on this:</span> November 2021 – September 2022</li>
</ul>

<p>I designed and developed this site as my personal website/blog. I used the static site generator Jekyll to knit the site together, and I consciously avoided Jekyll themes and frameworks such as Bootstrap, instead preferring to write pretty much all the website code myself. The site is hosted with Netlify, and the site’s codebase is hosted on GitHub.</p>

<p>I created a <a href="/About-This-Site/Design-Guide/">Design Guide</a> to document and showcase the site's custom styles, and I created a <a href="/About-This-Site/ReadMe/">ReadMe</a> with documentation and notes about how to update the site. The site supports both light and dark modes. (It automatically adjusts according to your browser preference.) The site has a human-readable site map as well as an XML site map, and the blog has a category index, a tag index, and an Atom feed. Additionally, the site has specially designed print styles, so if you choose to print any page, the printout should render nicely. Decorative images will not print, and URLs will be printed in parenthesis next to external links.</p>

<p>This website is <a href="https://reuse.software/">REUSE-compliant</a>, which means that the copyright holder and license are explicitly indicated for each file in the codebase. Additionally, unless I'm mistaken, this site conforms to the Web Content Accessibility Guidelines (WCAG) 2.1 level AA.</p>

<a href="/" class="link-turncoat link-turncoat--standalone">View My Personal Website/Blog</a>


<!--
<h2 id="AIR" tabindex="-1">Accessibility Internet Rally (AIR)</h2>

<ul class="post_metadata">
	<li>{% include "partials/SVGs/folder.svg" %} <span class="visually-hidden">Categorized under:</span> <a href="/Blog/Categories/#web+design">Web Design</a>, <a href="/Blog/Categories/#accessibility">Accessibility</a></li>
	<li>{% include "partials/SVGs/calendar3.svg" %} <span class="visually-hidden">I worked on this:</span> September – November 2021</li>
</ul>

<p>I participated in Knowbility's Accessibility Internet Rally (AIR) 2021, where I helped design and develop an accessible WordPress site for a nonprofit organization (NPO). I served as our team lead, scheduling meetings, taking notes, managing our to-dos, and helping out where needed.<p>

<p>We created a custom child theme and wrote custom CSS classes to style special sections of the website. We wrote a Content, Admin, & Design Guide for our NPO, and helped them to create an accessibility statement. We set up a media library with Able Player and captioned videos with Rev. We used Joe Dolson's WP Accessibility plug-in to add a high-contrast mode to the site.</p>

<p>We tested the site using axe DevTools, W3C's validator, NVDA, bookmarklets, manual code inspection, and other tools. We also conducted usability testing through Knowbility's AccessWorks program. Ultimately, our team placed 2nd in the competition.</p>

<a href="https://knowbility.org/programs/air/" class="link-turncoat link-turncoat--standalone">View AIR Program Website</a>
-->


<h2 id="GraphPaper" tabindex="-1">Graph Paper</h2>

<ul class="post_metadata">
	<li>{% include "partials/SVGs/folder.svg" %} <span class="visually-hidden">Categorized under:</span> <a href="/Blog/Categories/#web+design">Web Design</a>, <a href="/Blog/Categories/#accessibility">Accessibility</a></li>
	<li>{% include "partials/SVGs/calendar3.svg" %} <span class="visually-hidden">I worked on this:</span> June 2019 – May 2020</li>
</ul>

<p>Graph Paper is a Jekyll website integrated with Bootstrap and packed with features including support for multiple authors, featured images, tags, Twitter cards, and much more. Forking Graph Paper is a quick and easy way to start a Jekyll website/blog with the Bootstrap grid already set up.</p>

<p>In October 2020, after I started learning more about accessibility, I conducted an accessibility audit on this site and then remediated the issues I found. For more details, view this post: “<a href="https://graphpaper.camcoulter.com/2020/10/21/Accessibility-Updates/">Accessibility Updates</a>.”</p>

<p>I no longer maintain or update Graph Paper. Since starting this project, I’ve come to appreciate the simple power of Flexbox, Grid, and intrinsic web design, and I’ve come to value vanilla HTML, CSS, and JavaScript over frameworks such as Bootstrap. Graph Paper was a good project for me, but I now have different standards for what good and accessible code looks like. That said, I think this project still stands as a useful reference for how to do cool things in Jekyll, like support Twitter cards, set up a blog with multiple authors, and create custom RSS feeds.</p>

<a href="https://graphpaper.camcoulter.com/" class="link-turncoat link-turncoat--standalone">View Graph Paper</a>



<h2 id="ThePlaysofRoswitha" tabindex="-1">The Plays of Roswitha</h2>

<ul class="post_metadata">
	<li>{% include "partials/SVGs/folder.svg" %} <span class="visually-hidden">Categorized under:</span> <a href="/Blog/Categories/#ebook+design">eBook Design</a></li>
	<li>{% include "partials/SVGs/calendar3.svg" %} <span class="visually-hidden">I worked on this:</span> March – June 2019</li>
</ul>

<p>I produced an ebook of <cite>The Plays of Roswitha</cite>, a public domain collection of six plays by the 10th-century German canoness, dramatist, and poet. The ebook is available in multiple file formats and incorporates rich semantic data as well as modern typography and design standards.</p>

<p>I produced this ebook for Standard Ebooks, a volunteer-driven project that produces new editions of public domain ebooks that are lovingly formatted, open source, free of copyright restrictions, and free of cost.</p>

<a href="https://standardebooks.org/ebooks/roswitha-of-gandersheim/plays/christopher-st-john" class="link-turncoat link-turncoat--standalone">View eBook: The Plays of Roswitha</a>

