---
SPDX-FileCopyrightText: 2022 Cam Coulter <git@camcoulter.com>
SPDX-License-Identifier: AGPL-3.0-or-later
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<!-- created with help from https://www.sitemaps.org/ -->
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{% for page in collections.post %}<url>
		<loc>{{ meta.url }}{{ page.url }}</loc>
	</url>
	{% endfor %}
</urlset>