---
layout: layouts/page.njk
title: Blog Archive
---

<ul class="link-turncoat--list">
	<li><a href="/blog/categories" class="link-turncoat">{% include "partials/SVGs/folder.svg" %} Category Index</a></li>
	<li><a href="/blog/tags" class="link-turncoat">{% include "partials/SVGs/tag.svg" %} Tag Index</a></li>
	<li><a href="/blog/subscribe/" class="link-turncoat">{% include "partials/SVGs/rss.svg" %} Subscribe</a></li>
</ul>

{% for post in collections.post | reverse %}

	<div class="archive-post">
		<h2><a href="{{ post.url }}"">{{ post.data.title | safe }}</a></h2>
		<p>{{ post.data.description | safe }}</p>
		<ul class="post_metadata">
			{% if post.data.date %}<li>{% include "partials/SVGs/calendar3.svg" %} Posted on: <time datetime="{{ post.data.date | machineReadable }}">{{ post.data.date | humanReadableDate }}</time>.</li>{% endif %}
			{% if post.data.categorizedUnder %}<li>{% include "partials/SVGs/folder.svg" %} Categorized under: {% for item in post.data.categorizedUnder | sort %}{{ item }}{% if not loop.last %}, {% endif %}{% endfor %}.</li>{% endif %}
		</ul>
	</div>

{% endfor %}
