---
SPDX-FileCopyrightText: 2022 Cam Coulter <git@camcoulter.com>
SPDX-License-Identifier: CC-BY-NC-ND-4.0
layout: layouts/page.njk
title: Subscribe
permalink: /blog/subscribe/
---

<div class="raised margin-block-2em">
<h2>Personal Blog</h2>

<p>To follow my personal blog, copy the link below and add it to your feed reader. I provide an Atom feed, which most RSS readers support.</p>

<a href="/feed.xml" class="link-turncoat link-turncoat--standalone">{% include "partials/SVGs/rss.svg" %} Atom feed for my personal blog</a>

<p>If for some reason your preferred feed reader doesn't support Atom feeds, please let me know, and I'll try to add an RSS or JSON feed as well.</p>
</div>

<div class="raised margin-block-2em">
<h2><cite>The Ruined Report</cite></h2>

<p>To follow my posts on <cite>The Ruined Report</cite>, copy the link below and add it to your feed reader.</p>

<a href="https://theruinedreport.com/author/cameronncoulter/feed" class="link-turncoat link-turncoat--standalone">{% include "partials/SVGs/rss.svg" %} RSS feed for my posts on <cite>The Ruined Report</cite></a>

<p>Want to read on the web before you subscribe? <a href="https://theruinedreport.com/author/cameronncoulter/">View my posts on <cite>The Ruined Report</cite>.</a></p>
</div>

<div class="raised margin-block-2em">
<h2><cite>Skiffy and Fanty</cite></h2>

<p>To follow my posts on <cite>Skiffy and Fanty</cite>, copy the link below and add it to your feed reader.</p>

<a href="https://skiffyandfanty.com/author/cameronncoulter/feed" class="link-turncoat link-turncoat--standalone">{% include "partials/SVGs/rss.svg" %} RSS feed for my posts on <cite>Skiffy and Fanty</cite></a>

<p>Want to read on the web before you subscribe? <a href="https://skiffyandfanty.com/author/cameronncoulter/">View my posts on <cite>Skiffy and Fanty</cite>.</a></p>
</div>

<h2>What are web feeds?</h2>

<p><a href="https://en.wikipedia.org/wiki/Web_feed">Web feeds</a> allow you to follow a website or blog. RSS feeds are the most well-known standard for this, but there are other formats as well, such as Atom feeds and JSON feeds. With a feed reader app, you can subscribe to different web feeds, get notified when there are new posts, read posts of course, and personalize how content is displayed in a way that's comfortable for you. There are many different feed reader apps out there, and some are desktop apps while others are mobile apps or web apps. For more about subscribing to web feeds, see my post “<a href="https://theruinedreport.com/2022/03/15/use-rss-feeds/">Use RSS Feeds</a>” on <cite>The Ruined Report</cite>.</p>
