---
layout: layouts/page.njk
title: Tags
description: "Here's the tag index for my blog."
---

<p>{{ description }}</p>

{# List out all tags #}

<ol>
	{% for tag in collections.tags %}
		<li><a href="#{{ tag | slugify }}">{{ tag }}</a></li>
	{% endfor %}
</ol>

{# For each tag, list out all relevant posts #}

{% for tag in collections.tags %}
    <div class="cat-tag-item">
        <h2 id="{{ tag | slugify }}" tabindex="-1">{{ tag }}</h2>
        <ol reversed>
            {% for post in collections.taggedPages | taggedWith(tag) | reverse %}
                {% include "partials/post-item.html" %}
    	    {% endfor %}
        </ol>
    </div>
{% endfor %}