---
layout: layouts/base.njk
---

<article class="post">

	<header>
		<h1 id="main-content" tabindex="-1">{{ title | safe }}</h1>
		<p>{{ description | safe }}</p>

		<!-- Featured Image -->
		{% if image %} {# If the post has a featured image, use that. #}
			{% for item in collections.images | findImage(image) %}
				<figure class="full-width doNotPrint">
					<img alt="{{ item.data.alt }}" src="{{ item.data.src }}" sizes="(min-width: 65rem) 65rem, 100vw">
					<figcaption>{{ item.content | safe }}</figcaption>
				</figure>
			{% endfor %}
		{% else %} {# Otherwise, fall back to our default image. #}
			<figure class="full-width doNotPrint">
				<img alt="{{ meta.defaultImage.alt }}" src="{{ meta.defaultImage.src }}" sizes="(min-width: 65rem) 65rem, 100vw">
				<figcaption>{{ meta.defaultImage.caption | safe }}</figcaption>
			</figure>
		{% endif %}

		<ul class="post_metadata">
			{% if date %}<li>{% include "partials/SVGs/calendar3.svg" %} Posted on: <time datetime="{{ date | machineReadable }}">{{ date | humanReadableDate }}</time>.</li>{% endif %}
			{% if date_modified %}<li>{% include "partials/SVGs/clock.svg" %} Updated on: <time datetime="{{ date_modified | machineReadable }}">{{ date_modified | humanReadableDate }}</time>.</li>{% endif %}
			{% if categorizedUnder %}<li>{% include "partials/SVGs/folder.svg" %} Categorized under: {% for item in categorizedUnder | sort %}<a href="/blog/categories/#{{ item | slugify }}">{{ item }}</a>{% if not loop.last %}, {% endif %}{% endfor %}.</li>{% endif %}
		</ul>
	</header>

	<div class="article_container">
		{{ content | safe }}

		<div class="doNotPrint">

			<hr class="margin-block-2em">

			<a href="mailto:hi@camcoulter.com?subject=RE:%20{{ title | striptags | urlencode }}" class="link-turncoat link-turncoat--standalone">{% include "partials/SVGs/envelope.svg" %} Reply via email</a>

			{% if taggedWith %}
			<h2 class="visually-hidden">Tagged with</h2>
			<ul class="link-turncoat--list">
				{% for item in taggedWith | sort %}
				<li><a href="{{ site.baseurl }}/blog/tags#{{ item | slugify }}" class="link-turncoat">{% include "partials/SVGs/tag-fill-alt.svg" %}{{ item }}<span class="visually-hidden"> (tag)</span></a></li>
				{% endfor %}
			</ul>
			{% endif %}

		</div>

	</div>

</article>