<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noai, noimageai"> <!-- https://neil-clarke.com/block-the-bots-that-feed-ai-models-by-scraping-your-website/ -->
	<meta name="generator" content="{{ eleventy.generator }}">

	<link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
	<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
	<link rel="alternate" type="application/atom+xml" title="Atom feed for Cam Coulter's blog" href="/feed.xml">

	<title>{{ pageTitle | safe }}</title>
	<meta name="description" content="{{ pageDescription | safe }}">
	<meta name="author" content="{{ meta.author }}">
	{% if categorizedUnder or taggedWith%}<meta name="keywords" content="{% for item in categorizedUnder | sort %}{{ item  }}, {% endfor %}{% for item in taggedWith | sort %}{{ item  }}{% if not loop.last %}, {% endif %}{% endfor %}">{% else %}<meta name="keywords" content="{{ meta.defaultKeyboards }}">{% endif %}	

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">	
	<!-- This favicon was generated using the following graphics from Twitter Twemoji:
		- Graphics Title: 1f4dd.svg
		- Graphics Author: Copyright 2020 Twitter, Inc and other contributors (https://github.com/twitter/twemoji)
		- Graphics Source: https://github.com/twitter/twemoji/blob/master/assets/svg/1f4dd.svg
		- Graphics License: CC-BY 4.0 (https://creativecommons.org/licenses/by/4.0/) -->
	<!-- Thanks to https://favicon.io/ for making it easy -->

	<!-- Open Graph Protocol -->
	<!-- https://ogp.me/     -->
	<meta property="og:site_name" content="{{ meta.siteName }}">
	<meta property="og:title" content="{{ pageTitle | safe }}">
	<meta property="og:description" content="{{ pageDescription | safe }}">
	<meta property="og:locale" content="en-US">
	<meta property="og:url" content="{{ meta.url }}{{ page.url }}">
	{% if layout == "layouts/post.njk" %}<meta property="og:type" content="article">
	<meta property="article:author" content="{{ meta.author }}">
	{% if date %}<meta property="article:published_time" content="{{ date | machineReadable }}">{% endif %}
	{% if date_modified %}<meta property="article:modified_time" content="{{ date_modified | machineReadable }}">{% endif %}
	{% if taggedWith %}<meta property="article:tag" content="{% for item in taggedWith | sort %}{{ item }}{% if not loop.last %}, {% endif %}{% endfor %}">{% endif %}
	{% else %}<meta property="og:type" content="website">{% endif %}
	{% if image %}{% for item in collections.images | findImage(image) %}<meta property="og:image" content="{{ meta.url }}{{ item.data.src | metaPrep }}">
	<meta property="og:image:alt" content="{{ item.data.alt }}">{% endfor %}
	{% else %}<meta property="og:image" content="{{ meta.url }}{{ meta.defaultImage.src | metaPrep }}">
	<meta property="og:image:alt" content="{{ meta.defaultImage.alt }}">{% endif %}

	<!-- Twitter Cards -->
	<!-- https://developer.x.com/en/docs/x-for-websites/cards/ -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ pageTitle | safe }}">
	<meta name="twitter:description" content="{{ pageDescription | safe }}">
	{% if image %}{% for item in collections.images | findImage(image) %}<meta property="twitter:image" content="{{ meta.url }}{{ item.data.src | metaPrep }}">
	<meta property="twitter:image:alt" content="{{ item.data.alt }}">{% endfor %}
	{% else %}<meta name="twitter:image" content="{{ meta.url }}{{ meta.defaultImage.src | metaPrep }}">
	<meta name="twitter:image:alt" content="{{ meta.defaultImage.alt }}">{% endif %}
	
	{% if layout == "layouts/post.njk" %}<script type="application/ld+json">
	<!-- JSON-LD -->
	<!-- 
	- https://json-ld.org/
	- https://jsonld.com/
	-->
	{
		"@context": "http://schema.org",
		"@type": "BlogPosting",
		"url": "{{ meta.url }}{{ page.url }}",
		"inLanguage": "en-US",
		"headline": "{{ pageTitle | safe }}",
		"description": "{{ pageDescription }}",
		{% if categorizedUnder %}"articleSection": [{% for item in categorizedUnder | sort %}"{{ item }}"{% if not loop.last %}, {% endif %}{% endfor %}],{% endif %}
		{% if taggedWith %}"keywords": [{% for item in taggedWith | sort %}"{{ item }}"{% if not loop.last %}, {% endif %}{% endfor %}],{% endif %}
		"datePublished": "{{ date | machineReadable }}",
		"dateModified": "{% if date_modified %}{{ date_modified | machineReadable }}{% else %}{{ date | machineReadable }}{% endif %}",
		"author": {
			"@type": "Person",
			"name": "{{ meta.author }}",
			"url": "{{ meta.url }}"
		},
		"image": {
			"@type": "ImageObject",
			"url": "{{ meta.url }}{% for item in collections.images | findImage(image) %}{{ item.data.src | metaPrep }}{% endfor %}"
		}
	</script>{% endif %}

</head>